* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    height: 160px;
    background-color: #1b3f1c;
    padding: 0px;
    text-align: center;
}

header a {
    text-decoration: none;
}

#headerimg {
    height: 70%;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #312b09;
}

main {
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
